.main-list{
  background-color: gray;
  padding: 50px 40%;


}

.main-genereihn{
  display: inline-block;
  background-color: red;
  width: 150px;
  height: 200px;
  border-style: solid;
  position: relative;

}
.main-genereihn-text-van{
  top: 100px;
  display:flex;
  padding: 10px;

}
.main-genereihn-namber-tfo-button-van{
  font-size: 16px; /* Размер текста */
  font-weight: bold; /* Жирный текст */
  color: #fff; /* Цвет текста */
  text-align: center; /* Выравниваем текст по центру */
  padding: 5px 20px; /* Внутренние отступы (верх/низ и лево/право) */
  background-color: #007bff; /* Цвет фона */
  border:transparent solid 0px;
  border-radius: 10px;
  cursor: pointer; /* Меняем курсор на указатель при наведении */
  transition: background-color 0.3s ease; /* Плавное изменение цвета фона */
  position: absolute;
  bottom: 30px;
}
.main-genereihn-namber-tfo-button-van:hover {
  background-color: #0056b3; /* Меняем цвет фона при наведении */
}

/* Стили для активного состояния (когда кнопка нажата) */
.main-genereihn-namber-tfo-button-van:active {
  background-color: green; /* Меняем цвет фона при нажатии */

.footer{
  margin: 50px;
  display: inline-block;
}

.or{
  padding: 15px;
}
